extends partial/base

block site_title
       = page.titleP
block description
    meta(name="description", content=page.desc)

block header
    header.header-section
        .intro-header.no-img
            .page-heading
                h2!= page.title
                if page.subtitle
                    hr.small
                    span.page-subheading!= page.subtitle

block content
    .container
        .row
            .col-xs-6.col-sm-4
            .col-xs-6.col-sm-4
              article(role="main", class="blog-post")
                    != page.content
            .col-xs-6.col-sm-4
