mixin post_meta(date, tags)
    p.post-meta #{__('date_post')} #{full_date(date, "DD MMMM YYYY")}
      if tags
        - tags.each(function(tag) {
            = ' · '
            a.tag.post-meta(href=url_for(tag.path))= tag.name
        - })



